/* Réinitialisation des styles par défaut */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Styles de base */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background: linear-gradient(to right, #2d3b87, #5a6bb7);
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
}

.account-link {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #2d3b87;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.account-link:hover {
    background-color: #1d2655;
}

.account-link i {
    margin-right: 5px;
}

/* Main content */
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

section {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 30px;
}

h2 {
    color: #2d3b87;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

#current-balance {
    font-size: 48px;
    font-weight: bold;
    color: #4cd44c;
    margin-bottom: 20px;
}

#edit-bank-info-btn {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    background-color: #2d3b87;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#edit-bank-info-btn:hover {
    background-color: #1d2655;
}

/* Transaction History */

#transaction-history {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 30px;
}

#transaction-history h2 {
    color: #2d3b87;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

#transactions-list {
    list-style: none;
    padding: 0;
}

.transaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #f0f0f0;
    transition: all 0.3s ease;
}

.transaction:last-child {
    border-bottom: none;
}

.transaction:hover {
    background-color: #f9f9f9;
}

.transaction-type {
    font-weight: bold;
    margin-right: 10px;
    color: #666;
}

.transaction-amount {
    font-weight: bold;
    color: #333;
}

.transaction-details {
    color: #999;
}

.received .transaction-amount {
    color: #4cd44c;
}

.spent .transaction-amount {
    color: #ff6666;
}