/* Police d'écriture */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 320;
    font-style: normal;
    font-family: "DM Sans", sans-serif;
}

html {
    background-color: #e8e9eb;
}

/* Header */
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
}

section.top-page {
    padding: 25px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 5px;
}

header img {
    width: 60px;
}
/* ham */
#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 23px;
    left: 35px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #2d3b87;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #051285;
  }
/* Account Menu */
.acc-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.acc-btn {
    background-color: #2d3b87;
    border-radius: 5px;
    border: none;
    margin-left: 15px;
    margin-right: 0;
}

.acc-btn:hover {
    background-color: #051285;
}
.acc-btn i{
    color: white;
    padding: 6px;
}
/* Navigation Menu */
nav.top-menu {
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: center;
    background-color: #2d3b87;
    border-radius: 10px;
    align-items: center;
}

nav.top-menu li {
    display: inline-flex;
    margin: 0 auto;
}

nav.top-menu a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

nav.top-menu li:hover {
    background-color: #051285;
    transition-duration: 0.3s;
    border-radius: 5px;
    cursor: pointer;
}

nav.top-menu .active {
    background-color: #051285;
    border-radius: 5px;
}

nav.top-menu li i {
    margin-right: 10px;
    margin-left: 10px;
}

/* Search Box */
.search-container {
    position: relative;
    width: 300px;
    margin: 50px auto;
}

.search-toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: #2d3b87;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1; /* Initial */
}

.search-toggle:hover {
    opacity: 0; /* Disparaît au survol */
}

.search-toggle i {
    color: white;
    font-size: 20px;
}

.search-input {
    width: 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.search-container:hover .search-input {
    width: 250px;
    opacity: 1;
    pointer-events: auto;
}
/* Middle Section */
.filtre {
    margin-top: 30px;
    background-color: #e8e9eb;
    display: flex;
    list-style: none;
}

.filtre li {
    margin: 0 auto;
}

.menu-milieu-normal {
    background-color: #2d3b87;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-inline: 15px;
}

.menu-milieu-normal:hover {
    background-color: #051285;
    transition-duration: 0.15s;
}