body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 40px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.emploi-du-temps-container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    background-color: #fff;
    overflow-x: auto;
}

.emploi-du-temps {
    border-collapse: collapse;
    margin: 25px;
    font-size: 1em; /* Augmentation de la taille du texte */
    width: auto; /* Ajustement pour élargir le tableau */
}

.emploi-du-temps th, .emploi-du-temps td {
    border-right: 1px solid #e0e0e0; /* Ajout de bordures verticales */
    text-align: center;
    padding: 16px 20px; /* Augmentation du padding pour un aspect plus aéré */
}

.emploi-du-temps th:last-child, .emploi-du-temps td:last-child {
    border-right: none; /* Supprimer la bordure verticale du dernier élément */
}

.emploi-du-temps th {
    background-color: #0829e4; /* Couleur d'arrière-plan plus sombre pour les en-têtes */
    color: #ffffff;
    font-size: 1.2em; /* Augmentation de la taille pour les en-têtes */
}

.emploi-du-temps td:first-child {
    font-weight: 600;
    color: #002fff; /* Couleur pour les heures alignées avec les en-têtes */
    text-align: right;
}

.emploi-du-temps tr:nth-child(even) {
    background-color: #f9f9f9;
}

.emploi-du-temps tr:hover {
    background-color: #e0f2f1;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    body {
        padding: 20px;
    }

    .emploi-du-temps-container {
        width: 100%;
        border-radius: 0;
    }
}

